<% include ../partials/header %>
<div class="container">
    <div class="row text-center" style="margin-top:70px;">
        <h1><%=user.nameUser%></h1>
        <em><%=user.username%></em>
    </div>
    <h3><%=landscapes.length%> Landscapes</h3>
    <!--Display all the landscapes of the user -->
    <div class="row text-center">
    <% landscapes.forEach(function(landscape){ %>
        <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
                <img class="card_image" src="<%=landscape.image%>">
                <div class="caption">
                    <h4><strong><%=landscape.name%></strong></h4>
                    <a href="/landscapes/<%=landscape._id%>"class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
    <% }); %>
    </div>
</div>
<% include ../partials/footer %>