<% include ../partials/header %>
<div class="container">
    <div class="row" style="margin-top:70px;">
        <div class="col-md-8">
            <div class="thumbnail">
                <img class="img-responsive" src="<%=landscape.image%>"></img>
                <div class="caption">
                     <h4><strong><%=landscape.name%></strong></h4>
                     <p><%=landscape.description%></p> 
                     <p><em>Submitted By <a href="/users/<%=landscape.author.id%>"><%=landscape.author.nameUser%></a>, <%=moment(landscape.createdAt).fromNow()%></em></p>
                     <% if(currentUser && landscape.author.id.equals(currentUser._id)){ %>
                     <a href="/landscapes/<%=landscape._id%>/edit" class="btn btn-warning">Edit</a>
                     <form class="delete_form" action="/landscapes/<%=landscape._id%>?_method=DELETE" method="POST">
                         <button class="btn btn-danger">Delete</button>
                     </form>
                     <% }; %>
                </div>
            </div>
            <!-- Comment Section Start -->
             <div class="well">
                <div class="text-right">
                   <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new comment</a>
                </div>
                 <!--Comment section title-->
                <h4><strong>Comments <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span></strong></h4>
                 <!--Collapse Add a comment form START-->
                 <div class="collapse" id="collapseComment">
                     <div class="well" style="border-left: 5px solid #00C851;">
                          <% if(!currentUser) { %>
                          <!--If the user is not logged in, direct him to the login page-->
                          <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
                        <% } %>
                          <% if(currentUser) { %>
                          <!--If the user is logged in, show the new comment form-->
                          <h4>Write your comment <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
                          <form id="add-comment-form" action="/landscapes/<%= landscape._id %>/comments" method="POST">
                             <div class="form-group">
                                  <input class="form-control" type="text" disabled value="<%= currentUser.nameUser %>">
                             </div>
                            <div class="form-group">
                              <textarea class="form-control" name="text" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
                            </div>
                            <div class="form-group">
                              <button class="btn btn-success btn-sm">Comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                            </div>
                          </form>
                            <% } %>
                        </div>
                      </div>
                      <!--Collapse Add a comment form END-->
                      <hr>
                       <!--Check if there are comments, if there are none say no comments.-->
                        <% if (landscape.comments.length === 0) { %>
                          <em style="color: grey;">No comments yet.</em>
                        <% } %>
                        
                 <!--Display comments by looping through them-->     
                <% landscape.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong>
                            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                            <!--If the current user owns the comment, change the color of the user icon-->
                            <span style="color: orange;" class="glyphicon glyphicon-user" aria-hidden="true"></span>
                              <% } else { %>
                             <!--Else just display it black-->
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <% } %>
                             <!--Print out the author username-->
                            <%=comment.author.nameUser%>
                        </strong>
                         <!--Show when the comment was made-->
                        <span class="pull-right"><%=moment(comment.createdAt).fromNow()%></span>
                        <!--Printing the comment-->
                        <p><%=comment.text%></p>
                        <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
                         <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                          <!--Edit button used for collapsing the edit comment form-->
                        <a class="btn btn-xs btn-warning" role= "button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">
                            Edit</a>
                        <form class="delete_form" action="/landscapes/<%=landscape._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                        <!--Edit comment form-->
                        <div class="collapse" id="collapseEdit<%= comment._id %>">
                            <div class="well" style="border-left: 5px solid #ffbb33; margin-top: 15px;">
                               <h4>Edit your comment <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></h4>
                               <form id="edit-comment-form" action="/landscapes/<%= landscape._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                                   <div class="form-group">
                                      <input class="form-control" type="text" disabled value="<%= currentUser.nameUser %>">
                                   </div>
                                   <div class="form-group">
                                      <textarea class="form-control" name="text" placeholder="Your comment text..." form="edit-comment-form" rows="5" cols="70"><%= comment.text %></textarea>
                                   </div>
                                    <div class="form-group">
                                      <button class="btn btn-warning btn-sm">Edit comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                                    </div>
                                    </form>
                                    </div>
                                  </div>
                                <% } %>
                                <hr>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                    <!--COMMENT SECTION END-->
                </div>
                 <div class="col-md-4">
                    <div id="map"></div>
                 </div>
            </div>
        </div>

<script>
  function initMap() {
    var lat = <%= landscape.lat %>;
    var lng = <%= landscape.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= landscape.name %><br />
      <%= landscape.location %></strong>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLVxO8sOoVLFotztSt3rI23KkYyjuZCgo&callback=initMap"async defer></script>

<% include ../partials/footer %>